{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('change_password') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="current-password" placeholder="Current password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new-password" placeholder="New password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new-pass-confirmation" placeholder="New password confirmation" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}